@layout('layouts.main')


@section('content')
    <header class="container text-center center-mid">
        <h1>AdonisJs Blog</h1>
        <p>Wlecome to my AdonisJs Blog</p>
    </header>
@endsection
    
